.First.row {
    margin:0px;
    padding: 36px 54px;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px;
    background-color: rgb(255, 255, 255);
}

.text {
    
    font-family: "Roboto Mono", monospace;
    color: rgb(137, 137, 137) !important;
    margin: 10px 0px;
    
   
}

.profilePic img {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px;
    
}

.box1 {
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.box2 {
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    
}

.box3 {
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.project.row {
    text-align: center;
}