.imageContainer img{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px;
}

.img {
    vertical-align: middle;
    border-style: none;
}

.text-container {

    padding: 30px 0px;
}
.subheader {
    font-family: "Roboto Mono", monospace;
    color: rgb(137, 137, 137) !important;
   
}
.odev.col-sm-3 {
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 8px;
    margin-top: 30px;
    margin-right: auto;
    padding: 36px 54px;
    
    
}
.UserColum.row {
    margin: 0px;
    padding: 36px 54px;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border-radius: 8px;
    
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    color:#000000;
}

body {
    background: #fafafa;
}






